<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <title>Contact</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="contact_container">
      <h1 class="section-title">Contact us</h1>

      <form class="contact-form">
        <input
          type="text"
          class="input_text"
          placeholder="Your Full Name"
          required
        />
        <br />
        <input
          type="email"
          class="input_text"
          placeholder="Your Email"
          required
        />
        <br />
        <input type="text" class="input_text" placeholder="Subject" required />
        <br />
        <textarea class="messageZone" placeholder="Message" required></textarea>
        <br />
        <input type="submit" value="Send Message" class="btn" />
      </form>
    </div>
  </body>
</html>
